/* UNITE windowDecorations */
@import url('/usr/share/gnome-shell/extensions/unite@hardpixel.eu/styles/gtk4/buttons-right/both.css');
/* windowDecorations UNITE */
:root {
  --accent-color: var(--accent-bg-color);
  --accent-bg-color: var(--accent-teal);
}

/* Target the root window node for libadwaita apps */
window,
window decoration,
window decoration:backdrop {
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
}

/* Prevent black blocks from rendering around menus and tooltips */
/*
popover,
.popover,
.popover.background,
.menu * {
    box-shadow: none;
    border: none;
    margin: 0;
    border-radius: 0;
}
*/
