[Desktop Entry]
Version=1.0
Name=Vivaldi Incognito (snapshot)
Exec=/usr/bin/vivaldi-snapshot --incognito %U
StartupNotify=true
Terminal=false
Icon=vivaldi-snapshot
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
NoDisplay=true
